doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Hannah Xue

    meta(name='description' content='Hannah Xue portfolio site')

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='shortcut icon' href='/assets/favicon.png')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/main.js')


  body
    .left
      .icon-logo
      .navi
        a(href="#arts")
          .item#art
            span.icon-triangle
            span.icon-triangle-f
            span Art
        a(href="#techs")
          .item#tech
            span.icon-square
            span.icon-square-f
            span Tech + Design

      .contact
        ul: each l in links
          li: a(class=l.name href=l.url): span.icon(class='icon-#{l.name}')
        p About Hannah Xue

    #arts
      each a in arts
        .art
          .image(style='background-image: url(#{a.image})')
          .image-fullscreen
            img(src='#{a.image}')

    #techs
      each t in techs
        .tech(style='background-image: url(#{t.image})')
          h1= t.name
