doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Hannah Xue

    meta(name='description' content='Hannah Xue portfolio')
    meta(name='keywords' content='Hannah Xue, Yiqing Xue, 薛易清')

    meta(prefix="og: http://ogp.me/ns#" property="og:url" content="https://hanax.co")
    meta(prefix="og: http://ogp.me/ns#" property="og:type" content="website")
    meta(prefix="og: http://ogp.me/ns#" property="og:site_name" content="Hannah Xue portfolio")
    meta(prefix="og: http://ogp.me/ns#" property="og:title" content="Hannah Xue")
    meta(prefix="og: http://ogp.me/ns#" property="og:description" content="Hannah Xue portfolio")
    meta(prefix="og: http://ogp.me/ns#" property="og:image" content="https://hanax.co/assets/sns_pic.png")
    meta(prefix="og: http://ogp.me/ns#" property="og:locale" content="en_US")

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Condensed:300')

    link(rel='shortcut icon' href='/assets/favicon.png')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/main.js')


  body
    .left
      //- .icon-logo
      .overlay-logo
        img(src="/assets/logo_i.png")
      .navi
        a(href='#arts')
          .item#art
            span.icon-triangle.icon
            span.icon-triangle-f.icon-filled
            span Art
        a(href='#techs')
          .item#tech
            span.icon-square.icon
            span.icon-square-f.icon-filled
            span Tech + Design

      .contact
        ul: each l in links
          li: a(class=l.name href=l.url): span.icon(class='icon-#{l.name}')
        a(href='#about')
          p.about-hx
            span About Hannah Xue  
            a(href='//scottcheng.com')
              span.icon-heart

    .top
      .icon-logo

    #arts
      each a in arts
        .art
          .image(style='background-image: url(#{a.image})')
          .image-fullscreen
            img(src='#{a.image}')
      a(href='http://issuu.com/hanaxue/docs/sketch-book' target='_blank')
        .fashion
          h1 Fashion Sketchbook


    #techs
      each t in techs
        .tech
          .image(style='background-image: url(#{t.image});')
            h1= t.name
          .desc-card
            .content
              .tags
                .type(style='border-left-color: #{t.color};')= t.type
                .role(style='border-left-color: #{t.color};')= t.role
              p!= t.desc
              .blocks
                if t.blocks
                  each b in t.blocks
                    .block-mock
                      .pic: img(src='#{b.image}')
                      .text: p!= b.desc

    #about
      .avatar
      .right
        span.title Hannah Xue / 薛易清
        a(href=('/assets/Hannah_Xue_Resume.pdf'))
          .btn Resume
      .desc
        p Hannah is a(an):
        ul
          li.square Engineer. She makes stuff. 
          li.triangle Designer. She started drawing when she was really little and has been a freelance illustrator and designer for years.
          li.triangle Amateur psychology lover. In fact she holds B.S. in CS and Psychology, but is really bad at the latter.
          li.triangle Indie music maniac. Especially Post-Rock and Brit-Pop. Bands she loves include Pink Floyd, Mono and Kraftwerk.
          li.triangle Martial art expert. She is a national certificated Tai-chi athlete (Yep).
          li.triangle New New Yorker.
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67898610-1', 'auto');
    ga('send', 'pageview');
